<form class="form-horizontal">
   <fieldset>
      <legend>Search</legend>
      <div class="form-group">
         <div>
            <input type="text" class="form-control" ng-model='search.q' id="inputEmail" placeholder="Search by part number or keyword">
         </div>
      </div>
      <div class="form-group">
         <div>
            <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
         </div>
      </div>
   </fieldset>
</form>



<div ng-repeat="part in results">
   <div class="well">
      <blockquote>
         <div ng-bind-html="part.snippet">Snippet</div>
      </blockquote>
      <h2>Offers</h2>


      <div ng-repeat="offer in part.item.offers">
         <p>SKU - {{offer.sku}}</p>
         <p>Seller Name -  {{offer.seller.name}}</p>
         <p>HomePage URL - {{offer.seller.homepage_url}}</p>
         <h5>Prices in USD</h5>
         <table class="table table-hover ">
            <thead>
               <th>Count</th>
               <th>Price</th>
            </thead>
            <tr ng-repeat="price in offer.prices.USD">
               <td>{{price[0]}}</td>
               <td>{{price[1]}}</td>
            </tr>
         </table>
      </div>
   </div>
   <br>
</div>
